<p id="notice"><%= notice %></p>

<p>
  <strong>Videoid:</strong>
  <%= @movie.videoId %>
</p>

<p>
  <strong>Youtubeid:</strong>
  <%= @movie.youtubeID %>
</p>

<p>
  <strong>City:</strong>
  <%= @movie.city %>
</p>

<p>
  <strong>Country:</strong>
  <%= @movie.country %>
</p>

<p>
  <strong>Hour:</strong>
  <%= @movie.hour %>
</p>

<p>
  <strong>Minute:</strong>
  <%= @movie.minute %>
</p>

<p>
  <strong>Director:</strong>
  <%= @movie.director %>
</p>

<p>
  <strong>Directorurl:</strong>
  <%= @movie.directorUrl %>
</p>

<p>
  <strong>Walker:</strong>
  <%= @movie.walker %>
</p>

<p>
  <strong>Walkerurl:</strong>
  <%= @movie.walkerUrl %>
</p>

<p>
  <strong>adrdess</strong>
  <%= @movie.address %>
</p>

<p>
  <strong>longtitude</strong>
  <%= @movie.longitude %>
</p>

<p>
  <strong>Thumnail_URL</strong>
  <a href= "http://localhost:3000/<%= @movie.videoId %>">
  <img src="<%= @movie.thumnail_url %>" style = "width:300px"></a>
  <%= @movie.thumnail_url %>
</p>

<p>
  <strong>Tag_List</strong>
 <% @movie.tag_list.each do |tag|  %>
 <li><%= tag %></li>
 <% end %>
</p>
----------------------------------------------
<% @movie.favs.each do |fav| %>
<li><%= fav.user_id %></li>
<li><%= fav.value %></li>
<% end %>
<%= render 'favs/favorite_button', movie: @movie, fav: @movie.favorite_for(current_user) %>

<%= link_to 'Edit', edit_movie_path(@movie) %> |
<%= link_to 'Back', movies_path %>
