<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @fav.user_id %>
</p>

<p>
  <strong>Movie:</strong>
  <%= @fav.movie_id %>
</p>

<p>
  <strong>Value:</strong>
  <%= @fav.value %>
</p>

<%= link_to 'Edit', edit_fav_path(@fav) %> |
<%= link_to 'Back', favs_path %>
