<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @item.title %>
</p>

<p>
  <strong>Place:</strong>
  <%= @item.place %>
</p>

<p>
  <strong>Time:</strong>
  <%= @item.time %>
</p>

<p>
  <strong>Walker:</strong>
  <%= @item.walker %>
</p>

<p>
  <strong>Director:</strong>
  <%= @item.director %>
</p>

<p>
  <strong>Video:</strong>
  <img src  = "<%= @item.video %>" style = "width: 500px"><%= @item.video %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
